.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1rem 2rem;
  text-align: center;
}

header h1 {
  font-size: 50pt;
  margin: 0px;
}

.main-content {
  display: flex;
  flex: 1;
  min-width: 0;
}

nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 150px;
  max-width: 200px;
  padding: 1rem;
}

nav a {
  margin-bottom: 1rem;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: rgb(73, 72, 72);
  text-decoration: underline;
}

main {
  flex: 1;
  min-width: 0;
  overflow-x: auto;
  padding: 0rem 1rem;
}

footer {
  padding: 0.5rem;
  text-align: center;
  background-color: #f4f4f4;
}

body {
  margin: 60px;
  padding: 90px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr th {
  border: 0.5rem groove;
  color: rgb(30, 3, 3);
  padding: 1px 15px;
  text-align: center;
  word-break: break-word;
}

tr td {
  border: 0.4rem groove;
  color: rgb(34, 12, 62);
  padding: 2px 13px;
  text-align: center;
  word-break: break-word;
}

input, select {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  margin: 4px;
  padding: 4px 20px;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#delete:hover {
  cursor: pointer;
}

#edit:hover {
  cursor: pointer;
}