/* ###############################################################################
// frontend/src/index.css
// Citations for the following code:
//   Adapted from the following sources:
//   1. Exploration - Web Application Technology
//        https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-
//           application-technology-2?module_item_id=25645131
// ############################################################################### */
h1, h2 { 
    margin-left: 16px;
}

table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #0078D4;
    color: white;
}

tr:nth-child(even) {
    background-color: #F3F2F1;
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    padding: 8px;
}

a {
    margin-left: 16px;
}

.homepageDescription {
    margin-left: 32px;
}

body {
    background-color: #FFFFFF;
    color: #323130;
}