h1, h2 { 
    margin-left: 16px;
}

table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgb(194, 10, 124);
}

tr:nth-child(even) {
    background-color: rgb(199, 71, 150);
}

.cuForm { 
    margin-left: 32px;
}

input, select { 
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    padding: 16px;
}

a {
    margin-left: 16px;
}

.homepageDescription {
    margin-left: 32px;
}

body {
    background-color: rgb(199, 38, 137);
    color: white;
}